<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- This file only includes public feeds that don't require authentication, this makes it easier for first-time setup of dotnet CLI tooling -->
        <clear/>
        <add key="nuget" value="https://api.nuget.org/v3/index.json"/>
    </packageSources>
</configuration>
